In [ ]:
""" Problem 1: Unique Words in a Sentence
Given a sentence, identify all unique words and display:
The count of unique words
The unique words themselves
"""

#input
sentence = input("enter a sentence")

#Split the sentence into individual words
sentence_words = sentence.split()

#Convert the list of words into a set to remove duplicates
unique = set(sentence_words)

#Print both the set and its length
print("The number of unique words are: ",len(unique))
print("Unique words are: ",unique)

enter a sentencepython is easy and python is powerful
The number of unique words are:  5
Unique words are:  {'easy', 'python', 'and', 'is', 'powerful'}

In [6]:
"""Problem 2: Highest Salary from Employee Data
Problem Statement
Store employee names and their salaries, and determine which employee has the highest salary.
"""
#dictionary to store names and their salary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

#Compare salary values to find the highest
for i in employees:
  if employees[i] == max(employees.values()):
    print("Highest Salary: ", i, "-" , employees[i])

Highest Salary:  Ravi - 75000

In [10]:
"""Problem 3: Find Maximum and Minimum Values
Problem Statement
Find the maximum and minimum values from a list of numbers.
"""
#input
numbers = [45, 22, 89, 10, 66]

#Initialize both maximum and minimum with the first element of the list
max=min=numbers[0]

#loop to compare each element
for i in numbers:
  if i>max:
    max = i
  if i<min:
    min = i

#print
print("List = " , numbers)
print("Max: ",max)
print("Min: ",min)

List =  [45, 22, 89, 10, 66]
Max:  89
Min:  10

In [11]:
"""Problem 4: Count Products Above a Price Threshold
Problem Statement
Count how many products have a price greater than 1000.
"""
#input
prices = [450, 1200, 899, 1500, 300]

#logic
count = 0

for x in prices:
  if x>1000:
    count+=1

#output
print("Products above 1000: ",count)

Products above 1000:  2

In [12]:
"""Problem 5: Calculate Attendance Percentage
Problem Statement
Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).
"""
#input
attendance = ["P", "P", "A", "P", "P"]

#logic
no_of_P = attendance.count("P")
percentage = (no_of_P/len(attendance)*100)

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [13]:
"""Problem 6: Remove Duplicate Phone Numbers
Problem Statement
You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.
"""
#input
phone_numbers = [9876543210, 9123456789, 9876543210]

#Convert the list into a set
unique = set(phone_numbers)

#output
print("Unique phone numbers:",unique)

Unique phone numbers: {9876543210, 9123456789}

In [16]:
"""Problem 7: Count Character Frequency
Problem Statement
Count how many times each character appears in a given string.
"""
#input
word = input("enter a word: ")

#no of each alphabets
freq = {}

#logic
for c in word:
  if c in freq:
    freq[c] += 1
  else:
    freq[c] = 1

#output
print(freq)

enter a word: python
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [17]:
"""Problem 8: Convert List to Tuple
Problem Statement
Convert a list into a tuple and display it.
"""
#input
num = [24, 48, 72, 96]

#tuple() function
num_to_tuple = tuple(num)

#output
print("Tuple: ",num_to_tuple)

Tuple:  (24, 48, 72, 96)

In [20]:
"""Problem 9: Check if a Key Exists in a Dictionary
Problem Statement
Check whether a specific key exists in a dictionary.
"""
#input
employees = { "Ravi": 200, "Anita": 345, "sia": 678 }

#Use the in keyword.
x = "sia"

if x in employees:
  print("Employee exists")
else:
  print("Does not exist")

Employee exists

In [24]:
"""Problem 10: Calculate Average Marks
Problem Statement
Calculate the average marks of a student from a list of marks.
"""
#input
marks = [7, 34, 23, 45]

#Calculate the sum of all values and Divide by the total number of marks
total_marks = 0
for mark in marks:
    total_marks += mark
avg = total_marks / len(marks)

#output
print("Average Marks:", avg)

Average Marks: 27.25